<div style="background-color: rgba(45,45,45,0.9);display:flex;position:fixed; width:100%;top:0px;z-index:100;">
    <img class="imgMirir" src="~/Icon/MirorR.png" height="40" asp-append-version="true" />
    <nav class="navst">
        <span><a class="linkASt" href="http://truckonnow.com">@ViewBag.NameCompany - Settings</a></span>
        <input class="btn" type="button" value="Users" onclick="window.location.href='@Url.Action("User", "Settings")'+'/Users';" />
        <input class="btn" type="button" value="Trucks and Trailers" onclick="window.location.href='/Settings/Trucks';" />
        <input class="btn" type="button" value="Biling" onclick="window.location.href='/Settings/Biling/PaymentMethod';" />
        <input class="btn" type="button" value="Extension connection" onclick="window.location.href='/Settings/Extension/Dicpatchs';" />
    </nav>
    <img class="imgMirir" src="~/Icon/MirorL.png" height="40" asp-append-version="true" />
</div>