<body>
    <div class="admin truc">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="tabContent">
                        <h2>Add truck</h2>
                        <form action="">
                            <label for="">
                                Full name
                                <input type="text">
                            </label>
                            <label for="">
                                Email address
                                <input type="text">
                            </label>
                            <label for="">
                                Password
                                <input type="text">
                            </label>
                            <label for="">
                                Phone number
                                <input type="text">
                            </label>
                            <label for="">
                                Trailer capacity
                                <input type="text">
                            </label>
                            <label for="">
                                Driver's license number
                                <input type="text">
                            </label>
                            <label for="">
                                Document DL
                                <input type="file"><p>You can upload files only in pdf, jpg and jepg</p>
                            </label>
                            <label for="">
                                Document medical card
                                <input type="file"><p>You can upload files only in pdf, jpg and jepg</p>
                            </label>
                            <label for="">
                                Document SSN
                                <input type="file"><p>You can upload files only in pdf, jpg and jepg</p>
                            </label>
                            <label for="">
                                Document proof of work authorization or GC
                                <input type="file"><p>You can upload files only in pdf, jpg and jepg</p>
                            </label>
                            <label for="">
                                Document DQL (driver qualification file)
                                <input type="file"><p>You can upload files only in pdf, jpg and jepg</p>
                            </label>
                            <label for="">
                                Document contract (company and driver)
                                <input type="file"><p>You can upload files only in pdf, jpg and jepg</p>
                            </label>
                            <label for="">
                                Document Drug test results (optional for 26000+)
                                <input type="file"><p>You can upload files only in pdf, jpg and jepg</p>
                            </label>
                            <button class="btn1">Save Info</button>
                        </form>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-md-auto">
                            <img src="img/15.svg" alt="">
                        </div>
                        <div class="col-md-auto">
                            <img src="img/15.svg" alt="">
                        </div>
                        <div class="col-md-auto">
                            <img src="img/15.svg" alt="">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-auto">
                            <img src="img/15.svg" alt="">
                        </div>
                        <div class="col-md-auto">
                            <img src="img/15.svg" alt="">
                        </div>
                        <div class="col-md-auto">
                            <img src="img/15.svg" alt="">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-auto">
                            <img src="img/15.svg" alt="">
                        </div>
                        <div class="col-md-auto">
                            <img src="img/15.svg" alt="">
                        </div>
                        <div class="col-md-auto">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>