<body>
    <div class="admin truc">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="tabContent">
                        <h2>Add truck</h2>
                        <form action="" method="post" enctype="multipart/form-data">
                            <label for="">
                                Name Trailer
                                <input type="text" name="name" required>
                            </label>
                            <label for="">
                                Type Trailer <br />
                                <select name="typeTrailer" onchange="SelectTrailer(this.options[this.selectedIndex].value)" required style="width:500px;">
                                    <option value="">Choose a trailer type</option>
                                    <option value="GooseneckTrailerTwoVehicles">Gooseneck trailer for two vehicles</option>
                                    <option value="EnclosedTrailerTwoVehicles">Enclosed trailer for two vehicles</option>
                                    <option value="a1CarGooseneckTrailer">1 Car Gooseneck Trailer</option>
                                    <option value="A3CarEnclosedGooseneckTrailer">3 Car Enclosed Gooseneck Trailer</option>
                                    <option value="Bumperpook24_34ftFlatbed">Bumperpook 24_34ft Flatbed</option>
                                    <option value="Bumperpool1CarEnclosedTrailer">Bumperpool 1 Car Enclosed Trailer</option>
                                    <option value="Bumperpool2CarEnclosedTraile">Bumperpool 2 Car Enclosed Traile</option>
                                    <option value="Bumperpool16_20FtFlatbed">Bumperpool 16_20Ft Flatbed</option>
                                    <option value="CarEnclosedTrailer">Car Enclosed Trailer</option>
                                    <option value="Gooseneck3CarLowTrailer">Gooseneck 3 Car Low Trailer</option>
                                    <option value="Gooseneck24-34FtFlatbed">Gooseneck 24_34 Ft Flatbed</option>
                                    <option value="Gooseneck3CarWedgeTrailer">Gooseneck 3 Car Wedge Trailer</option>
                                    <option value="Gooseneck5CarOpenTrailer">Gooseneck 5 Car Open Trailer</option>
                                    <option value="Gooseneck6CarOpenTrailer">Gooseneck 6 Car Open Trailer</option>
                                    <option value="BumperPool2CarTrailer">Bumper Pool 2 Car Trailer</option>
                                </select>
                            </label>
                            <label for="">
                                Year
                                <input type="text" name="yera">
                            </label>
                            <label for="">
                                Make
                                <input type="text" name="make">
                            </label>
                            <label for="">
                                Model
                                <input type="text" name="model">
                            </label>
                            <label for="">
                                How Long
                                <input type="text" name="howLong">
                            </label>
                            <label for="">
                                Vin#
                                <input type="text" name="vin">
                            </label>
                            <label for="">
                                Owner
                                <input type="text" name="owner">
                            </label>
                            <label for="">
                                Color
                                <input type="text" name="color">
                            </label>
                            <label for="">
                                Plate Trailer
                                <input type="text" name="plate" required>
                            </label>
                            <label for="">
                                Plate Exp Trailer
                                <input type="text" name="exp">
                            </label>
                            <label for="">
                                ANNUAL INS
                                <input type="text" name="annualIns">
                            </label>
                            <label for="">
                                Document Trailer registration
                                <input type="file" name="trailerRegistrationDoc" accept="application/pdf, image/jpeg, image/jpg" required><p>You can upload files only in pdf, jpg and jepg</p>
                            </label>
                            <label for="">
                                Document Trailer annual inspection
                                <input type="file" name="trailerAnnualInspectionDoc" accept="application/pdf, image/jpeg, image/jpg" required><p>You can upload files only in pdf, jpg and jepg</p>
                            </label>
                            <label for="">
                                Document Lease agreement (optional)
                                <input type="file" name="leaseAgreementDoc" accept="application/pdf, image/jpeg, image/jpg"><p>You can upload files only in pdf, jpg and jepg</p>
                            </label>
                            <button class="btn1">Save Info</button>
                        </form>
                    </div>
                </div>
                @*<div class="col-md-6">
                        <div class="row">
                            <div class="col-md-auto">
                                <img src="img/15.svg" alt="">
                            </div>
                            <div class="col-md-auto">
                                <img src="img/15.svg" alt="">
                            </div>
                            <div class="col-md-auto">
                                <img src="img/15.svg" alt="">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-auto">
                                <img src="img/15.svg" alt="">
                            </div>
                            <div class="col-md-auto">
                                <img src="img/15.svg" alt="">
                            </div>
                            <div class="col-md-auto">
                                <img src="img/15.svg" alt="">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-auto">
                                <img src="img/15.svg" alt="">
                            </div>
                            <div class="col-md-auto">
                                <img src="img/15.svg" alt="">
                            </div>
                            <div class="col-md-auto">
                            </div>
                        </div>
                    </div>*@
            </div>
        </div>
    </div>
</body>

<script>
    function SelectTrailer(value) {
        if (curentSelectPattern || value == "") {
            curentSelectPattern.style.display = "none";
        }
        let selectTypeDiv = document.getElementById(value);
        if (selectTypeDiv) {
            selectTypeDiv.style.display = "flex";
            curentSelectPattern = selectTypeDiv;
        }
    }
</script>