<body>
    <div class="admin truc">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="tabContent">
                        <h2>Add truck</h2>
                        <form action="" method="post" enctype="multipart/form-data">
                            <label for="">
                                Name Trailer
                                <input type="text" name="name" required>
                            </label>
                            <label for="">
                                Type Trailer
                                <input type="text" name="typeTrailer" required>
                            </label>
                            <label for="">
                                Year
                                <input type="text" name="yera">
                            </label>
                            <label for="">
                                Make
                                <input type="text" name="make">
                            </label>
                            <label for="">
                                Model
                                <input type="text" name="model">
                            </label>
                            <label for="">
                                How Long
                                <input type="text" name="howLong">
                            </label>
                            <label for="">
                                Vin#
                                <input type="text" name="vin">
                            </label>
                            <label for="">
                                Owner
                                <input type="text" name="owner">
                            </label>
                            <label for="">
                                Color
                                <input type="text" name="color">
                            </label>
                            <label for="">
                                Plate Trailer
                                <input type="text" name="plate" required>
                            </label>
                            <label for="">
                                Plate Exp Trailer
                                <input type="text" name="exp">
                            </label>
                            <label for="">
                                ANNUAL INS
                                <input type="text" name="annualIns">
                            </label>
                            <label for="">
                                Document Trailer registration
                                <input type="file" name="trailerRegistrationDoc" accept="application/pdf, image/jpeg, image/jpg" required><p>You can upload files only in pdf, jpg and jepg</p>
                            </label>
                            <label for="">
                                Document Trailer annual inspection
                                <input type="file" name="trailerAnnualInspectionDoc" accept="application/pdf, image/jpeg, image/jpg" required><p>You can upload files only in pdf, jpg and jepg</p>
                            </label>
                            <label for="">
                                Document Lease agreement (optional)
                                <input type="file" name="leaseAgreementDoc" accept="application/pdf, image/jpeg, image/jpg"><p>You can upload files only in pdf, jpg and jepg</p>
                            </label>
                            <button class="btn1">Save Info</button>
                        </form>
                    </div>
                </div>
                @*<div class="col-md-6">
                        <div class="row">
                            <div class="col-md-auto">
                                <img src="img/15.svg" alt="">
                            </div>
                            <div class="col-md-auto">
                                <img src="img/15.svg" alt="">
                            </div>
                            <div class="col-md-auto">
                                <img src="img/15.svg" alt="">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-auto">
                                <img src="img/15.svg" alt="">
                            </div>
                            <div class="col-md-auto">
                                <img src="img/15.svg" alt="">
                            </div>
                            <div class="col-md-auto">
                                <img src="img/15.svg" alt="">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-auto">
                                <img src="img/15.svg" alt="">
                            </div>
                            <div class="col-md-auto">
                                <img src="img/15.svg" alt="">
                            </div>
                            <div class="col-md-auto">
                            </div>
                        </div>
                    </div>*@
            </div>
        </div>
    </div>
</body>