<body>
    <div class="admin truc">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="tabContent">
                        <h2>Add truck</h2>
                        <form action="" method="post" enctype="multipart/form-data">
                            <label for="">
                                Name Truck
                                <input type="text" name="nameTruk" required>
                            </label>
                            <label for="">
                                Type Truck
                                <input type="text" name="typeTruk" required>
                            </label>
                            <label for="">
                                Year
                                <input type="text" name="yera">
                            </label>
                            <label for="">
                                Make
                                <input type="text" name="make">
                            </label>
                            <label for="">
                                Model
                                <input type="text" name="model">
                            </label>
                            <label for="">
                                State
                                <input type="text" name="state">
                            </label>
                            <label for="">
                                Plate Exp
                                <input type="text" name="exp">
                            </label>
                            <label for="">
                                Vin#
                                <input type="text" name="vin">
                            </label>
                            <label for="">
                                Owner
                                <input type="text" name="owner">
                            </label>
                            <label for="">
                                Plate Truck
                                <input type="text" name="plateTruk" required>
                            </label>
                            <label for="">
                                Color
                                <input type="text" name="color">
                            </label>
                            <label for="">
                                Truck registration
                                <input type="file" name="truckRegistrationDoc" accept="application/pdf, image/jpeg, image/jpg" required><p>You can upload files only in pdf, jpg and jepg</p>
                            </label>
                            <label for="">
                                Truck lease agreement
                                <input type="file" name="truckLeaseAgreementDoc" accept="application/pdf, image/jpeg, image/jpg" required><p>You can upload files only in pdf, jpg and jepg</p>
                            </label>
                            <label for="">
                                Truck annual inspection
                                <input type="file" name="truckAnnualInspection" accept="application/pdf, image/jpeg, image/jpg" required><p>You can upload files only in pdf, jpg and jepg</p>
                            </label>
                            <label for="">
                                Bob tail physical damage (optional)
                                <input type="file" name="bobTailPhysicalDamage" accept="application/pdf, image/jpeg, image/jpg"><p>You can upload files only in pdf, jpg and jepg</p>
                            </label>
                            <label for="">
                                NY HUT (optional for NY rolling)
                                <input type="file" accept="application/pdf, image/jpeg, image/jpg" name="nYHUTDoc"><p>You can upload files only in pdf, jpg and jepg</p>
                            </label>
                            <button class="btn1">Save Info</button>
                        </form>
                    </div>
                </div>
                @*<div class="col-md-6">
                    <div class="row">
                        <div class="col-md-auto">
                            <img src="img/15.svg" alt="">
                        </div>
                        <div class="col-md-auto">
                            <img src="img/15.svg" alt="">
                        </div>
                        <div class="col-md-auto">
                            <img src="img/15.svg" alt="">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-auto">
                            <img src="img/15.svg" alt="">
                        </div>
                        <div class="col-md-auto">
                            <img src="img/15.svg" alt="">
                        </div>
                        <div class="col-md-auto">
                            <img src="img/15.svg" alt="">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-auto">
                            <img src="img/15.svg" alt="">
                        </div>
                        <div class="col-md-auto">
                            <img src="img/15.svg" alt="">
                        </div>
                        <div class="col-md-auto">
                        </div>
                    </div>
                </div>*@
            </div>
        </div>
    </div>
</body>