<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</head>
<body>
    @if (ViewData["TypeNavBar"] == "AllUsers")
    {
        @await Html.PartialAsync("~/Views/PartView/NavAllUsers.cshtml");
    }
    else if (ViewData["TypeNavBar"] == "BaseCommpany")
    {
        @await Html.PartialAsync("~/Views/PartView/NavBaseCommpany.cshtml");
    }
    else if (ViewData["TypeNavBar"] == "NormaCommpany")
    {
        @await Html.PartialAsync("~/Views/PartView/NavNormalCompany.cshtml");
    }
    else if (ViewData["TypeNavBar"] == "Settings")
    {
        @await Html.PartialAsync("~/Views/PartView/NavSettingsAllCompanyAndUser.cshtml");
    }
    <div style="width:99%;height:97vh;padding-top:30px">
        @RenderBody()
    </div>
</body>
</html>
<style>
    body {
        padding:0px;
        margin: 0px;
    }

    .navst {
        width: 99%;
        height: 30px;
        margin: 0px;
        padding: 8px;
        top: 0px;
        left: 0px;
        display:flex;
        justify-content:center;
    }

    .imgMirir {
        margin: 4px;
        transition: transform .7s;
    }

    .imgMirir:hover {
        transform: rotate3d(5, 10.0, 2.00, 40deg);
        transition: transform .7s ease-in-out;
    }

    a {
        text-decoration: none;
        margin: 0px;
    } 
        
    .linkASt {
        font-size: 25px;
        color: #ffffff;
        font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    }
    
    .btn {
        background-color:rgba(0, 0, 0, 0.00);
        border:none;
        height:40px;
        color:white;
        font-size:15px;
        margin-left:80px;
    }

        .btn:hover {
            color: silver;
            transition: 0.3s
        }

    ::-webkit-scrollbar {
        width: 7px;
    }

    ::-webkit-scrollbar-track {
        background: rgba(175, 217, 238, 0.73);
        border-radius: 30px;
    }

    /* Handle */
    ::-webkit-scrollbar-thumb {
        background: silver;
        border-radius: 30px;
    }

        ::-webkit-scrollbar-thumb:hover {
            background: rgba(16, 156, 228, 0.34);
        }
</style>