
<body>
    <div class="register-page">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="left-text">
                        <h1>Get Started</h1>
                        <p>To get started please enter your USDOT number first. Let's verify your company information and you'll be on your way.</p>
                        <p>If you don't have USDOT or operate outside of US, please contact our Support team to proceed with sign up process.</p>
                        <div class="info">
                            <a href=""><img src="img/message-circle.svg" alt=""> Support Chat</a>
                            <a href="tel:+1 (816) 204 9617"><img src="img/phone-call.svg" alt=""> +1 (816) 204 9617</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="right-form">
                        <form action="">
                            <h3>Step 1 of 3: USDOT Verification</h3>
                            <ul class="steps">
                                <li class="active"></li>
                                <li></li>
                                <li></li>
                            </ul>
                            <div class="step">
                                <h3>USDOT</h3>
                                <label for=""><input type="text"></label>
                                <p>Don't have USDOT? Call us: +1 (816) 204 9617</p>
                                <input type="submit" value="Verify" class="btn1-big">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>