<div class="bl-1">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-6">
                <img src="img/device.svg" alt="">
            </div>
            <div class="col-md-6">
                <div class="text">
                    <h1>Great Work Experience</h1>
                    <p>
                        More than 10 Years of car hauling experience
                        is invested in this Simple to use App and Portal. You will have full control of your business with simple to use tools , centers, and partners to help you run your business smoothly and in a highly efficient way.
                    </p>
                    <a href="/try_for_free"><div class="btn1-big">Try for Free</div></a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="bl-2">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-5">
                <h1>No Bussiness is Too Small with this App</h1>
            </div>
            <div class="col-md-7">
                <div class="advantages">
                    <div class="one">
                        <div class="img"><img src="img/img1.svg" alt=""></div>
                        <p>Owner Operator</p>
                    </div>
                    <div class="one">
                        <div class="img"><img src="img/img2.svg" alt=""></div>
                        <p>Driver</p>
                    </div>
                    <div class="one">
                        <div class="img"><img src="img/img3.svg" alt=""></div>
                        <p>Medium Fleet</p>
                    </div>
                    <div class="one">
                        <div class="img"><img src="img/img4.svg" alt=""></div>
                        <p>Large Fleet</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="bl-3">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-6">
                <img src="img/bl3.svg" alt="">
            </div>
            <div class="col-md-5">
                <div class="text">
                    <h1>Take Full Control</h1>
                    <p>Our App will totally take full Car Transportation Control from A-Z. Our highly advanced App will make sure your driver will not skip any steps assigned by your Company Admin.</p>
                    <a href=""><img src="img/googleplay.svg" alt=""></a><a href=""><img src="img/appstore.svg" alt=""></a>
                    <h6>* App available on Market and IOS</h6>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="bl-4">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-6">
                <div class="text">
                    <h1>Transported Vehicle Inspection</h1>
                    <p>Admin will choose what inspection level the driver needs to perform at the pick-up or delivery. Admin could choose from 1 to 40 fully detailed pictures upon inspection. All pictures will have outlined body parts of the vehicle and interior to help the driver take better pictures. App will automatically adjust picture quality to highly visible imperfections to make the driver easier to select imperfections and post them to the app</p>
                </div>
            </div>
            <div class="col-md-6">
                <img src="img/car.svg" alt="">
            </div>
        </div>
        <div class="row align-items-center">
            <div class="col-md-6">
                <img src="img/motorcycle.png" alt="">
            </div>
            <div class="col-md-6">
                <div class="text">
                    <h1>Company Equipment</h1>
                    <p>Company Owners will be daily updated on what’s happening with their equipment, App will give 6 HR window for a driver to inspect company vehicle daily. If the driver fails to do so it will not him use the App till inspection is complete. No damages will be left behind after the driver. Company Admin will have a full control of what detailed pictures they want to send to a driver to perform the inspection, for example : interior, miles, dash light, truck body, all fluids, under hood, tires, bed storage, electrical connection, truck, and trailer connection, trailer body, trailer, tires, spare parts, and much more</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="bl-5">
    <div class="container">
        <div class="row justify-content-between align-items-center">
            <div class="col-md-auto">
                <h1>Car Hauling Made Simple. Try it for Free.</h1>
                <ul class="plus">
                    <li>No credit card required   </li>
                    <li>Cancel anytime</li>
                </ul>
            </div>
            <div class="col-md-auto">
                <a href="/try_for_free"><div class="btn2-big">Try for Free</div></a>
            </div>
        </div>
    </div>
</div>
<div class="bl-6">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-6">
                <div class="text">
                    <h1>Full Access</h1>
                    <p>Any person using this App will have full access anywhere in the world with a simple Login and Password</p>
                </div>
            </div>
            <div class="col-md-6">
                <img src="img/mac.svg" alt="">
            </div>
        </div>
    </div>
</div>
<div class="bl-7">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-6">
                <img src="img/bl7.svg" alt="">
            </div>
            <div class="col-md-6">
                <div class="text">
                    <h1>Drivers Love Truckonnow</h1>
                    <p>Super Dispatch is the easiest to use, most compatible, and reliable driver app in Auto Transport</p>
                    <ul class="plus">
                        <li>Send electronic invoices within seconds</li>
                        <li>The free app was designed for owner-operators</li>
                        <li>Import orders directly from load boards and brokers</li>
                        <li>Digitized vehicle inspections and unlimited photos</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="bl-8">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>Eliminate Paperwork</h1>
                <img src="img/bl8.svg" alt="" class="desc">
                <img src="img/bl8-mob.svg" alt="" class="mob">
            </div>
        </div>
    </div>
</div>
<div class="bl-9">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <h1>Some Other Features</h1>
            </div>
            <div class="col-md-3">
                <div class="img">
                    <img src="img/img5.svg" alt="">
                </div>
                <h3>Market</h3>
                <p>Sell and Buy equipment from reputable companies using this App</p>
            </div>
            <div class="col-md-3">
                <div class="img">
                    <img src="img/img6.svg" alt="">
                </div>
                <h3>Driver Check</h3>
                <p>When you hire a driver you can run hies truck on now credit. Perform a work history background check, any related claims and also you could leave an endorsement on any driver that worked for your company</p>
            </div>
            <div class="col-md-3">
                <div class="img">
                    <img src="img/img7.svg" alt="">
                </div>
                <h3>Repair Support</h3>
                <p>Find on the Map the most reputable Shop around you! This Portal allows you to review and share your experience in order to avoid any bad shops in the future</p>
            </div>
        </div>
    </div>
</div>
<div class="bl-10">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>Prices and Packages</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="one-price">
                    <div class="top">
                        <h3>Name Packag 1</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
                    </div>
                    <div class="middle">
                        <ul>
                            <li>Ut enim ad minim veniam, quis</li>
                            <li>Ut enim ad minim veniam, quis</li>
                            <li>Ut enim ad minim veniam, quis nostrud exercitation ullamco</li>
                        </ul>
                    </div>
                    <div class="bottom">
                        <h1>$ 100</h1>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="one-price">
                    <div class="top">
                        <h3>Name Packag 2</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
                    </div>
                    <div class="middle">
                        <ul>
                            <li>Ut enim ad minim veniam, quis</li>
                            <li>Ut enim ad minim veniam, quis</li>
                            <li>Ut enim ad minim veniam, quis nostrud exercitation ullamco</li>
                            <li>Ut enim ad minim veniam, quis nostrud exercitation ullamco</li>
                        </ul>
                    </div>
                    <div class="bottom">
                        <h1>$ 200</h1>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="one-price">
                    <div class="top">
                        <h3>Name Packag 3</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
                    </div>
                    <div class="middle">
                        <ul>
                            <li>Ut enim ad minim veniam, quis</li>
                            <li>Ut enim ad minim veniam, quis</li>
                            <li>Ut enim ad minim veniam, quis nostrud exercitation ullamco</li>
                            <li>Ut enim ad minim veniam, quis nostrud exercitation ullamco</li>
                            <li>Ut enim ad minim veniam, quis nostrud exercitation ullamco</li>
                            <li>Ut enim ad minim veniam, quis nostrud exercitation ullamco</li>
                        </ul>
                    </div>
                    <div class="bottom">
                        <h1>$ 300</h1>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <p>To pay, please register by filling out the <a href="">FROM</a></p>
            </div>
        </div>
    </div>
</div>
<div class="bl-5 dop">
    <div class="container">
        <div class="row justify-content-between align-items-center">
            <div class="col-md-auto">
                <h1>
                    Try the New Way to Transport<br>
                    Cars with Truckonnow TMS
                </h1>
                <ul class="plus">
                    <li>No credit card required</li>
                    <li>Cancel anytime</li>
                </ul>
            </div>
            <div class="col-md-auto">
                <a href="/try_for_free"><div class="btn2-big">Try for Free</div></a>
            </div>
        </div>
    </div>
</div>
<footer>
    <div class="container">
        <div class="row align-items-center justify-content-between">
            <div class="col-md-auto">
                <div class="logo">
                    <a href=""><img src="img/logo-w.svg" alt=""></a>
                </div>
                <p>To contact us, you can call the number <a href="tel:+1 (816) 204 9617">+1 (816) 204 9617</a></p>
            </div>
            <div class="col-md-auto">
                <form action="">
                    <input type="text" placeholder="Name">
                    <input type="number" placeholder="Phone number">
                    <input type="submit" value="Call Me Now">
                </form>
            </div>
        </div>
    </div>
</footer>