<div>
    @if (ViewBag.isStateActual == 0)
    {
    <div class="text-red">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2>No Access</h2>
                    <h3>This ling is not valid, create a new account recovery request.</h3>
                    <button onclick="window.location.href='@ViewBag.BaseUrl/carrier-login'" class="btn1">OK</button>
                </div>
            </div>
        </div>
    </div>
    }
    else if (ViewBag.isStateActual == 1)
    {
    <div class="login-page">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-5 col-md-7">
                    <form method="post" action="~/Restore/Password" class="form-login">
                        <div class="white">
                            <h1>Recover Password</h1>
                            <label for="">
                                New password
                                <input type="password" placeholder="Password" id="password" name="newPassword" required>
                            </label>
                            <label for="" class="password">
                                Password
                                <input type="password" id="password-input" placeholder="Confirm Password" name="confirmPsw" required>
                            </label>
                            <input style="display:none" name="idDriver" value="@ViewBag.IdDriver" />
                            <input style="display:none" name="token" value="@ViewBag.token" />
                            <input type="submit" value="Restore" class="btn1-big">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    }
    else if (ViewBag.isStateActual == 2)
    {
    <div class="text">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2>You have successfully changed your password</h2>
                    <h3>You can now use the new account security information to log in to your account.</h3>
                    <button onclick="window.location.href='@ViewBag.BaseUrl'" class="btn1">OK</button>
                </div>
            </div>
        </div>
    </div>
    }
</div>


<script>
    var password = document.getElementById("password")
  , confirm_password = document.getElementById("confirm_password");

    function validatePassword() {
        if (password.value != confirm_password.value) {
            confirm_password.setCustomValidity("Passwords Don't Match");
        } else {
            confirm_password.setCustomValidity('');
        }
    }

    password.onchange = validatePassword;
    confirm_password.onkeyup = validatePassword;
</script>