<body>
    <div class="login-page">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-5">
                    <p style="color: red; text-align: center; font-size: 15px">
                        @ViewData["TextError"]
                    </p>
                    <form method="post" action="" class="form-login">
                        <div class="white">
                            <h1>Recovery Password</h1>
                            <label for="" class="password">
                                Email
                                <input name="email" type="email" placeholder="abc@gmail.com">
                            </label>
                            <input type="submit" value="Send" class="btn1-big">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>
