
    <div class="register-page">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="left-text">
                        <h1>Manage transport while moving cars faster and more efficiently.</h1>
                        <img src="img/reg.svg" alt="">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="right-form">
                        <form action="">
                            <label for="" class="w50">
                                First Name
                                <input type="text">
                            </label>
                            <label for="" class="w50">
                                Last Name
                                <input type="text">
                            </label>
                            <label for="">
                                Company Name
                                <input type="text">
                            </label>
                            <label for="">
                                Email
                                <input type="email">
                            </label>
                            <label for="">
                                Phone Number
                                <input type="tel" id="phone" />
                            </label>
                            <label for="">How many cars do you move per month?</label>
                            <div class="cheked">
                                <label for=""><input type="radio" name="" id="">1 - 100</label>
                                <label for=""><input type="radio" name="" id="">101 - 500</label>
                                <label for=""><input type="radio" name="" id="">501 - 1 000</label>
                                <label for=""><input type="radio" name="" id="">1 000+</label>
                            </div>
                            <label for="">
                                How did you hear about us? <span>(Optional)</span>
                                <input type="text">
                            </label>
                            <input type="submit" value="Request Access" class="btn1-big">
                            <p>By creating your account you accept our <a href="">Terms & Conditions</a> and <a href="">Privacy Policy</a></p>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>