<header>
    <div class="container">

        <div class="row align-items-center justify-content-between">
            <div class="col-md-auto">
                <div class="logo">
                    <img src="img/logo.svg" alt="" onclick="document.location.href='http://truckonnow.com/'">
                </div>
            </div>
            <div class="col-md-auto">
                <div class="info">
                    <a href="tel:+1 (773) 420-4444" class="tel">+1 (773) 420-4444</a>
                    <div class="login">
                        <a href="#" id="login">Login</a>
                        <ul class="sub-login">
                            <li><a href="/carrier-login">Carrier TMS</a></li>
                            <li><a href="/shipper-login">Shipper TMS</a></li>
                        </ul>
                    </div>
                    <a href="/try_for_free"><div class="btn1">Try for Free</div></a>
                </div>
            </div>
        </div>
    </div>
</header>