<body>
    <div class="admin">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="tabContent">
                        <h2>Info About the Driver</h2>
                        <form action="" method="post" enctype="multipart/form-data">
                            <label for="">
                                Name commpany
                                <input type="text" name="nameCommpany" required>
                            </label>
                            <label for="">
                                Email commpany
                                <input type="email" name="emailCommpany" required>
                            </label>
                            <label for="">
                                subscription <br />
                                <select name="IdSubscription" required style="width:500px;">
                                    <option value="">Choose a subscription</option>
                                    @foreach (var subscription in ViewBag.Subscriptions)
                                    {
                                        <option value="@subscription.Id">@subscription.Name | @subscription.PeriodDays days | @subscription.Price </option>
                                    }
                                </select>
                            </label>
                            <label for="">
                                MC number confirmation
                                <input type="file" name="MCNumberConfirmation" accept="application/pdf, image/jpeg, image/jpg" required><p>You can upload files only in pdf, jpg and jepg</p>
                            </label>
                            <label for="">
                                IFTA (optional for 26000+)
                                <input type="file" name="IFTA" accept="application/pdf, image/jpeg, image/jpg" required><p>You can upload files only in pdf, jpg and jepg</p>
                            </label>
                            <label for="">
                                KYU
                                <input type="file" name="KYU" accept="application/pdf, image/jpeg, image/jpg" required><p>You can upload files only in pdf, jpg and jepg</p>
                            </label>
                            <label for="">
                                Logbook Papers (manual, certificate, malfunction letter)
                                <input type="file" name="logbookPapers" accept="application/pdf, image/jpeg, image/jpg" required><p>You can upload files only in pdf, jpg and jepg</p>
                            </label>
                            <label for="">
                                COI (certificate of insurance)
                                <input type="file" name="COI" accept="application/pdf, image/jpeg, image/jpg" required><p>You can upload files only in pdf, jpg and jepg</p>
                            </label>
                            <label for="">
                                Permits (optional OR, FL, NM)
                                <input type="file" name="permits" accept="application/pdf, image/jpeg, image/jpg" required><p>You can upload files only in pdf, jpg and jepg</p>
                            </label>
                            <input class="btn1" value="Save" type="submit" />
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>