<body>
    <div class="for-ty-for">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="for">
                        <img src="~/img/500.svg" alt="">
                    </div>
                </div>
                <div class="col-md-12">
                    <h2>Internal Server Error</h2>
                    <h3>The server has been deserted for a while. Please be patient or try again later.</h3>
                </div>
                <div class="col-md-12">
                    <div class="button">
                        <button class="btn3" onclick="window.history.back()">Back to Previous Page</button>
                        <button class="btn1" onclick="window.location.href = '@ViewBag.BaseUrl'">Home Page</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>