<body>
    <div class="admin">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="tabContent">
                        <h2>Add New Dispatcher</h2>
                        <form action="" method="post" enctype="multipart/form-data">
                            <label for="">
                                Type Dispatcher
                                <input type="text" name="typeDispatcher" >
                            </label>
                            <label for="">
                                Login Dispatch
                                <input type="text" name="login" >
                            </label>
                            <label for="">
                                Password Dispatch
                                <input type="text" name="password">
                            </label>

                            <input type="submit" value="Save Info" class="btn1" />
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>