<body>
    <div class="admin">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="tabContent">
                        <h2>Edit Dispatcher</h2>
                        <form action="" method="post" enctype="multipart/form-data">
                            <input hidden name="idDispatch" value="@ViewBag.Dispatcher.Id" class="inpText validation" type="text" required />
                            <label for="">
                                Type Dispatcher
                                <select name="typeDispatcher" required style="width:500px;">
                                    <option value="">Choose a dispatcher type</option>
                                    <option value="Central Dispatch">Central Dispatch</option>
                                </select>
                            </label>
                            <label for="">
                                Login Dispatch
                                <input type="text" name="login"  value="@ViewBag.Dispatcher.Login">
                            </label>
                            <label for="">
                                Password Dispatch
                                <input type="text" name="password" value="@ViewBag.Dispatcher.Password">
                            </label>

                            <input type="submit" value="Save Info" class="btn1" />
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>