<body>
    <div class="admin doc">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="title">
                        <h1>Documents</h1>
                        <button class="btn1">Add Document</button>
                    </div>
                </div>
                @for (int i = 0; i < ViewBag.DriverDoc.Count; i++)
                {
                    string pref = ViewBag.DriverDoc[i].DocPath.Remove(0, ViewBag.DriverDoc[i].DocPath.LastIndexOf('.') + 1);
                    <div class="col-md-12">
                        <p>@ViewBag.DriverDoc[i].NameDoc <a href="@ViewBag.BaseUrl/Driver/RemoveDoc?idDock=@ViewBag.DriverDoc[i].Id&id=@ViewBag.DriverId">Delete</a></p>
                    </div>
                    if (pref == "pdf")
                    {
                        <div class="col-md-12">
                            <embed style="margin-left:30%;" src="@ViewBag.BaseUrl/Driver/GetDockPDF?docPath=@ViewBag.DriverDoc[i].DocPath" width="900" height="1200" />
                        </div>
                    }
                    else
                    {
                        <div class="col-md-12">
                            <img src="@ViewBag.BaseUrl/Driver/GetDock?docPath=@ViewBag.DriverDoc[i].DocPath&type=image/@pref" alt="">
                        </div>
                    }
                    <hr />
                }
            </div>
        </div>
    </div>
</body>