<div class="body">
    <input class="backBtn" type="button" value="← Back to Orders" onclick="history.back();" />
    <nav>
        <input class="btnSt" type="button" value="Drivers" onclick="window.location.href='@Url.Action("Drivers", "Driver")';" />
        <input style="width:150px" class="btnSt" type="button" value="Driver check" onclick="window.location.href='@Url.Action("Check", "Driver")';" />
        <input style="width:150px" class="btnSt activeBtn" type="button" value="Report driver" onclick="window.location.href='@Url.Action("AddReport", "Driver")';" />
    </nav>
    <div class="contentBody">
        <form action="" method="post">
            <div class="content">
                <h2 style="color: rgb(51, 51, 51);margin:15px;">Add New Report Driver</h2>
                <p class="inpLabe">Full Name</p>
                <input name="fullName" type="text" class="inpText validation" required />
                <p class="inpLabe">Driver's License Number</p>
                <input name="driversLicenseNumber" type="text" class="inpText validation" required />
                <p class="inpLabe">Number Of Accidents</p>
                <input name="numberOfAccidents" type="number" class="inpText validation" required />
                <p class="inpLabe">Dot Violations</p><br />
                <input id="dotViolationsInp" name="dotViolations" type="text" class="inpText validation" required />
                <p  class="inpLabe">English <span  id="englishSpn">Poor</span></p><br />
                <input id="englishInp" name="english" type="range" class="inpText validation" value="1" min="1" max="3" step="1" list="range-list" required />
                <p class="inpLabe">Returned equipmen <span  id="returnedEquipmenSpn">Poor</span></p><br />
                <input id="returnedEquipmenInp" type="range" name="returnedEquipmen" class="inpText validation" value="1" min="1" max="3" step="1" list="range-list" required />
                <p class="inpLabe">Working efficiency <span  id="workingEfficiencySpn">Poor</span></p><br />
                <input id="workingEfficiencyInp" name="workingEfficiency" type="range" class="inpText validation" value="1" min="1" max="3" step="1" list="range-list" required />
                <p class="inpLabe">Eld knowledge <span  id="eldKnowledgeSpn">Poor</span></p><br />
                <input id="eldKnowledgeInp" type="range" name="eldKnowledge" class="inpText validation" value="1" min="1" max="3" step="1" list="range-list" required />
                <p class="inpLabe">Driving skills <span  id="drivingSkillsSpn">Poor</span></p><br />
                <input id="drivingSkillsInp" type="range" name="drivingSkills" class="inpText validation" value="1" min="1" max="3" step="1" list="range-list" required />
                <p class="inpLabe">Payment handling <span  id="paymentHandlingSpn">Poor</span></p><br />
                <input id="paymentHandlingInp" type="range" name="paymentHandling" class="inpText validation" value="1" min="1" max="3" step="1" list="range-list" required />
                <p class="inpLabe">Alcohol tendency <span  id="alcoholTendencySpn">None</span></p><br />
                <input id="alcoholTendencyInp" type="range" name="alcoholTendency" class="inpText validation" value="0" min="0" max="3" step="1" list="range-list" required />
                <p class="inpLabe">Drug tendency <span id="drugTendencySpn">None</span></p><br />
                <input id="drugTendencyInp" type="range" name="drugTendency" class="inpText validation" value="0" min="0" max="3" step="1" list="range-list" required />
                <p class="inpLabe">Terminated (boxes FIRED, Contract expiration, left truck without notice, disappeared)</p><br />
                <div>
                    <div>
                        <input class="validation" value="Yes" checked required type="radio" name="terminated"  />
                        <span style="text-align:center;">Yes</span>
                    </div>
                    <div>
                        <input class="validation" value="No" required type="radio" name="terminated"  />
                        <span style="text-align:center;">No</span>
                    </div>
                </div>
                <p class="inpLabe">Experience with</p><br />
                <input style="display:none;" name="experience" id="experienceInp"/><br />
                <div style="display:flex;flex-wrap:wrap;">
                    <div style="margin-right:5px;">
                        <input class="validation" type="checkbox" value="Boxes" onclick="SelectExperience(this.value, this.checked)" />
                        <span style="text-align:center;">Boxes</span>
                    </div>
                    <div style="margin-right:5px;">
                        <input class="validation" type="checkbox" value="Enclosed car hauling" onclick="SelectExperience(this.value, this.checked)" />
                        <span style="text-align:center;">Enclosed car hauling</span>
                    </div>
                    <div style="margin-right:5px;">
                        <input class="validation" type="checkbox" value="Open car hauling" onclick="SelectExperience(this.value, this.checked)" />
                        <span style="text-align:center;">Open car hauling</span>
                    </div>
                    <div style="margin-right:5px;">
                        <input class="validation" type="checkbox" value="Flatbed" onclick="SelectExperience(this.value, this.checked)" />
                        <span style="text-align:center;">Flatbed</span>
                    </div>
                    <div style="margin-right:5px;">
                        <input class="validation" type="checkbox" value="Towing" onclick="SelectExperience(this.value, this.checked)" />
                        <span style="text-align:center;">Towing</span>
                    </div>
                    <div style="margin-right:5px;">
                        <input class="validation" type="checkbox" value="Van" onclick="SelectExperience(this.value, this.checked)" />
                        <span style="text-align:center;">Van</span>
                    </div>
                    <div style="margin-right:5px;">
                        <input class="validation" type="checkbox" value="Reefer" onclick="SelectExperience(this.value, this.checked)" />
                        <span style="text-align:center;">Reefer</span>
                    </div>
                </div>
                <p class="inpLabe">Description</p><br />
                <textarea id="descriptionTA" type="text" class="textareaSt validation" name="description" placeholder="Enter description" style="margin-left:5px;" required></textarea><br />
            </div>
            <input class="btnSave" value="Add report driver" type="submit" />
        </form>
    </div>
</div>
<script>
    englishInp.oninput = function () {
        englishSpn.innerHTML = GetLevel(this.value);
    }

    returnedEquipmenInp.oninput = function () {
        returnedEquipmenSpn.innerHTML = GetLevel(this.value);
    }

    workingEfficiencyInp.oninput = function () {
        workingEfficiencySpn.innerHTML = GetLevel(this.value);
    }

    eldKnowledgeInp.oninput = function () {
        eldKnowledgeSpn.innerHTML = GetLevel(this.value);
    }

    drivingSkillsInp.oninput = function () {
        drivingSkillsSpn.innerHTML = GetLevel(this.value);
    }

    paymentHandlingInp.oninput = function () {
        paymentHandlingSpn.innerHTML = GetLevel(this.value);
    }

    alcoholTendencyInp.oninput = function () {
        alcoholTendencySpn.innerHTML = GetLevel(this.value);
    }

    drugTendencyInp.oninput = function () {
        drugTendencySpn.innerHTML = GetLevel(this.value);
    }

    function GetLevel(value) {
        if (value == "0") {
            return "None";
        }
        else if (value == "1") {
            return "Poor";
        }
        else if (value == "2") {
            return "Middle";
        }
        else if (value == "3") {
            return "Good";
        }
    }

    function SelectExperience(value, Checked) {
        if (Checked) {
            if (experienceInp.value == undefined) {
                experienceInp.value = "";
            }
            experienceInp.value += value + ", ";
        }
        else {
            experienceInp.value = experienceInp.value.replace(value + ", ", "");
        }
    }
</script>
<style>
    * {
        margin: 0px;
    }

    .btnSt {
        margin-left: 5px;
        border: none;
        width: 120px;
        height: 40px;
        background-color: white;
        font-size: 20px;
        color: rgb(51, 51, 51);
        border-color: rgba(51, 51, 51, 1);
    }

    .activeBtn {
        border-radius: 1px;
        border-top: solid;
        border-right: solid;
        border-left: solid;
        border-width: 1.3px;
        position: relative;
        top: 2px;
        border-color: rgba(51, 51, 51, 0.3);
    }

    .content {
        width: 40%;
    }

    .btnSave {
        color: rgba(45,45,45,0.88);
        background: none;
        display: inline-block;
        padding: 7px;
        font-size: 16px;
        font-weight: 400;
        text-align: center;
        border: 1px solid;
        border-radius: 4px;
        width: 130px;
    }

    btnSave:hover {
        background-color: rgba(45,45,45,0.98);
        transition: 0.5s;
    }

    .validation:invalid {
        border-color: red;
    }

    .validation:valid {
        border-color: #4ad73b;
    }

    .backBtn {
        background: none;
        border: none;
        font-size: 17px;
        color: #ffd7a6;
        margin-bottom: 20px;
    }

    .inpLabe {
        font-size: 18px;
        color: rgb(51, 51, 51);
        margin-top: 10px;
        margin-bottom: 0px;
        margin-left: 5px;
    }

    .inpText {
        width: 100%;
        height: 25px;
        border-width: 1px;
        border-style: double;
        border-radius: 4px;
        padding: 2px;
        font-size: 16px;
        color: rgb(51, 51, 51);
        border-color: rgba(51, 51, 51, 0.24);
        margin-bottom: 15px;
    }

    .textareaSt {
        width: 100%;
        height: 125px;
        border-width: 1px;
        border-style: double;
        border-radius: 4px;
        padding: 2px;
        font-size: 16px;
        color: rgb(51, 51, 51);
        border-color: rgba(51, 51, 51, 0.24);
        margin-bottom: 15px;
    }


    .contentBody {
        width: 100%;
        height: 100px;
        border-top: solid;
        border-width: 1px;
        border-color: rgba(51, 51, 51, 0.3);
        justify-content: space-around
    }

    .body {
        margin-top: 30px;
        margin-left: 5px;
        margin-right: 5px;
        padding: 10px;
    }
</style>